@import '~bootstrap/dist/css/bootstrap.min.css';



  form{
    text-align: center;
    margin-top: 10px;
  }
  input{
    height: 30px;
    width: 300px;
  }
 div#di
 {
     text-align: center;
     width: 800px;
     margin-left: 250px;
     padding:60px;
    background-color: blue;
 }
 

